input{
    width: 80%;
    padding: 10px;
    margin: 8px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
  }
  .container{
    background-color:  #f2f2f2;
    padding: 40px;

  }
  .btn{
    width: 80%;
    background-color: #0862df;
    color: white;
    padding: 15px;
    margin: 10px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 20px;
  }
  .btn:hover{
    background-color: #0827df;;
  }